.book-icon {
  font-size: 18px; /* Adjust the size as needed */
  margin-left: 5px; /* Add spacing between the text and the icon */
}

.directory-link {
  text-decoration: none; /* Remove underline */
  color: white; /* Set font color to white */
  font-family: 'Exo 2', sans-serif;
  font-size: 18px; /* Font size */
  transition: background-color 0.3s ease;
  font-weight: bold;
}
.hand-icon {
  font-size: 1.2em; /* Adjust the size as needed */
  margin: 0 5px; /* Add some spacing between icons and text */
}
.directory-link:hover {
  color: black; /* Set hover font color to black */
}
/* Style for the TikTok link */
.tiktok-link {
        background-color: #000; /* Black background color */
        color: #fff; /* White text color */
        padding: 8px 15px; /* Padding around the link */
        border-radius: 12px; /* Rounded corners */
        text-decoration: none;
        font-family: 'Exo 2', sans-serif;
        font-size: 18px; /* Font size */
        transition: background-color 0.3s ease; /* Smooth background color transition */
    }

    /* Style for the TikTok logo */
       .tiktok-logo::before {
           content: "\e07b"; /* Unicode for the TikTok logo */
           font-family: FontAwesome; /* Use FontAwesome for the logo */
           margin-right: 5px; /* Add a small margin to separate the logo from text */
           font-size: 20px; /* Adjust the size of the logo */
       }
    /* Hover effect: Change background color on hover */
    .tiktok-link:hover {
        background-color: #333; /* Darker black on hover */
    }

/* Center-align the TikTok link */
.tok {
    text-align: center;
}

/* Style for the Facebook link */
   .facebook-link {
       background-color: #1877f2; /* Facebook blue background color */
       color: #fff; /* White text color */
       padding: 8px 15px; /* Padding around the link */
       border-radius: 12px; /* Rounded corners */
       text-decoration: none;
       font-family: 'Exo 2', sans-serif;
       font-size: 18px; /* Font size */
       transition: background-color 0.3s ease; /* Smooth background color transition */
       display: inline-block; /* Display as inline-block to allow for icon placement */
   }

   /* Style for the Facebook icon */
   .fa-facebook-square::before {
       content: "\f082"; /* Unicode for the Facebook icon in Font Awesome */
       font-family: FontAwesome; /* Use FontAwesome for the icon */
       margin-right: 5px; /* Add a small margin to separate the icon from text */
       font-size: 22px; /* Adjust the size of the icon */
   }

   /* Hover effect: Change background color on hover */
   .facebook-link:hover {
       background-color: #0e5cbf; /* Darker blue on hover */
   }

.hot-movies-gallery {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.movie-item {
    flex: 1;
    width: calc(25% - 10px); /* Deducting 10px for consistent gaps between images */
    margin: 0 5px; /* Half of the 10px gap on each side */
    box-sizing: border-box;
    position: relative;
}

.movie-item::before {
    content: "";
    display: block;
    padding-top: 133.33%; /* For 9:12 aspect ratio */
}

.movie-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


    @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.hot-movies-section h1 {
    animation: blink 2s linear infinite;
    display: flex;
    justify-content: center;
}

.upcoming-movies-section h1 {
    display: flex;
    justify-content: center;
}

.big-title {
    font-size: 3em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.download-app {
  display: flex;
  justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.note {
  display: flex;
  justify-content: center;
    margin-top: 1px;
    margin-bottom: 10px;
}
